# Raw data
data/
Parquet_data/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
.pytest_cache/

# Environment variables
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# AWS
.aws/
.aws-credentials
*.aws
aws.txt

# Data files
sample_input.csv
sample_input.json
candidates.json
endpoint_info.json

# SageMaker
.sagemaker/

# Jupyter Notebook
.ipynb_checkpoints
*.ipynb

# Logs
logs/
*.log
pip-log.txt
pip-delete-this-directory.txt

# OS specific files
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# Editor files
.idea/
.vscode/
*.swp
*.swo

# Temporary files
tmp/
/tmp/
temp/
*.tmp